[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdf2image = "*"
pypdf2 = "*"
"pdfminer.six" = "*"
pikepdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
